<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>

<system.net>
  <mailSettings>
    <smtp>
      <network host="localhost"/>
    </smtp>
  </mailSettings>
</system.net>
  
	<system.web>
		<compilation debug="true"/>
		<authentication mode="Windows"/>

    <healthMonitoring enabled="true">
      <providers>
        <add name="MailProvider"
             type="System.Web.Management.SimpleMailWebEventProvider"
             from="webserver@example.com"
             to="you@example.com"
             subjectPrefix="Unhandled Exception: "
             bufferMode="Critical Notification"
    />

      </providers>
      <rules>
        <remove name="All Errors Default"/>
        <remove name="Failure Audits Default"/>
        <add name="All Errors Default" eventName="All Errors" provider="MailProvider" />
      </rules>
    </healthMonitoring>

  </system.web>
</configuration>