<?xml version="1.0"?>

<configuration>

  <configSections>
    <sectionGroup name="elmah">
      <!-- Indicates that inside the section group there will be an errorLog section -->
      <section name="errorLog" type="System.Configuration.SingleTagSectionHandler"/>
      <!-- Indicates that inside the section group there will be an errorMail section -->
      <section name="errorMail" type="System.Configuration.SingleTagSectionHandler"/>
    </sectionGroup>
  </configSections>

  <appSettings/>

  <connectionStrings/>

  <system.web>
    <compilation debug="true"/>
    <authentication mode="Windows"/>

    <trace enabled="true"/>

    <httpModules>
      <add name="ErrorLog" type="CodePlex.Elmah.ErrorLogModule, CodePlex.Elmah" />
      <add name="ErrorMail" type="CodePlex.Elmah.ErrorMailModule, CodePlex.Elmah" />
    </httpModules>

    <!-- Allows you to view ELMAH errors @ http://<YourVirtualRoot>/elmah/default.aspx -->
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah/default.aspx"
           type="CodePlex.Elmah.ErrorLogPageFactory, CodePlex.Elmah" />
    </httpHandlers>
  </system.web>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="localhost"/>
      </smtp>
    </mailSettings>
  </system.net>

  <elmah>
    <!-- This section contains the type of the error logger
           to use (SqlErrorLog, MemoryErrorLog, or a custom logger).
           as well as the properties pertinent to the error logger
           (e.g., connectionString for the SqlErrorLog). -->
    <errorLog type="CodePlex.Elmah.MemoryErrorLog, CodePlex.Elmah" connectionStringName="ErrorDB"/>
    <!-- To have an administrator e-mailed with details of the exception, uncomment 
           the following section. You MUST specify a to e-mail address; 
           you can optionally specify a from (default is same as to);
           (consult the code for ErrorMailModule for more optional setting values) -->
    <errorMail from="from@contoso.com" to="to@contoso.com" subject="Application Error" async="true"/>
  </elmah>
</configuration>
