<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings>
		<add name="NorthwindConnectionString" connectionString="Data Source=MJM-XP-VIRTUAL\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<pages>
			<controls>
				<add tagPrefix="sp" namespace="chapter_04_gridview"/>
			</controls>
		</pages>
		<compilation debug="true"/>
		<authentication mode="Windows"/>
	</system.web>
</configuration>
