<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<compilation debug="true" />
		<authentication mode="Windows" />
		<httpModules>
			<add type="MoveViewState.MoveViewStateModule" name="MoveViewStateModule" />
		</httpModules>
	</system.web>
</configuration>
