<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<compilation debug="true"/>
		<authentication mode="Windows"/>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp from="michael.bolton@initech.com">
				<network host="smtp.initech.com" port="25" userName="mbolton"
				   password="pcloadletter" defaultCredentials="true" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
