<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="blowery.web">
			<section name="httpCompress" type="blowery.Web.HttpCompress.SectionHandler, blowery.Web.HttpCompress"/>
		</sectionGroup>
	</configSections>
	<blowery.web>
		<httpCompress preferredAlgorithm="gzip" compressionLevel="high">
			<excludedMimeTypes>
				<add type="image/jpeg"/>
				<add type="image/gif"/>
			</excludedMimeTypes>
			<excludedPaths>
				<add path="NoCompress.aspx"/>
			</excludedPaths>
		</httpCompress>
	</blowery.web>
	<system.web>
		<compilation debug="true"/>
		<authentication mode="None"/>
		<httpModules>
			<add name="CompressionModule" type="blowery.Web.HttpCompress.HttpModule, blowery.web.HttpCompress"/>
		</httpModules>
	</system.web>
</configuration>