<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings>
  <add name="NorthwindConnectionString" connectionString="Data Source=MJM-XP-VIRTUAL\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<compilation debug="true"/>
		<authentication mode="Windows"/>
	</system.web>
</configuration>
