<?xml version="1.0"?>
<configuration>
	<appSettings>
	</appSettings>
	<connectionStrings>
		<add name="NorthwindConnectionString1" connectionString="Data Source=MJM-XP-VIRTUAL\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<caching>
			<sqlCacheDependency enabled="true">
				<databases>
					<add name="NorthwindConnectionString1" connectionStringName="NorthwindConnectionString1" pollTime="5000"/>
				</databases>
			</sqlCacheDependency>
		</caching>
		<compilation debug="true"/></system.web>
</configuration>
