<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="urlrewritingnet"
             restartOnExternalChanges="true"
             requirePermission ="false"
             type="UrlRewritingNet.Configuration.UrlRewriteSection, 
                 UrlRewritingNet.UrlRewriter"  />
  </configSections>

  <urlrewritingnet
      xmlns="http://www.urlrewriting.net/schemas/config/2006/07" >
    <rewrites>
      <add name="RewriteOnDomain"
         virtualUrl="/(\w+)/(\w+)$"
         destinationUrl="~/category.aspx?id=$1&amp;subcat=$2"
    />
    </rewrites>
  </urlrewritingnet>

  <appSettings/>
  <connectionStrings/>

  <system.web>
    <compilation debug="true" />
    <authentication mode="Windows" />
    <httpModules>
      <add name="UrlRewriteModule"
          type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
    </httpModules>
  </system.web>
</configuration>
